#ignore thumbnails created by windows
Thumbs.db

#Ignore files build by Visual Studio
*.obj
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Cc]sx
[Dd]ebug*/
*.lib
*.sbr
obj/
.vs/
#[Rr]elease*/
_ReSharper*/
_TeamCity*/
_dotTrace*/
[Tt]est[Rr]esult*
*.ReSharper
*.docstates
_rltm*
*.GhostDoc.xml

#Ignore common build files
build/*
log
deployment
src/SkuVault.Web/Content/bootstrap.css
src/SkuVault.Web/Scripts/apps/freshdesk/freshwidget.css

#Exceptions
!ReleaseNotes/

#Merge
*.orig
src/SkuVault.Web/Content/skuvault.main.css
packages/
